/* produto categoria */

.categorias-secao {
	background-color: aqua;
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.categorias-card {
	background-color: red;
	width: 317px;
	height: 500px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.categorias-link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: auto;
	height: auto;
}

.categorias-nome {
	margin: 0;
	text-align: center;
	font-weight: 400;
	color: #FFFFFF;
}