/* produto categoria */

.categorias-secao {
	background-color: aqua;
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.categorias-card {
	position: relative;
	width: 317px;
	height: 500px;
	border-radius: 15px;
	overflow: hidden;
}

.overlay{
	position: absolute;
	inset: 0;
	background-color: rgba(0,0,0,0.25);
	z-index: 1;
}

.categorias-link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	font-weight: 400;
	color: #FFFFFF;
	text-transform: lowercase;
}

.casual {
	background: url('../produtos/casual.jpg') no-repeat center;
	background-size: cover;
}

.esporte {
	background: url('../produtos/esporte.jpg') no-repeat center;
	background-size: cover;
}

.moderno {
	background: url('../produtos/colorido.jpg') no-repeat center;
	background-size: cover;
}

.futurista {
	background: url('../produtos/futurista.jpg') no-repeat center;
	background-size: cover;
}